.card {
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #F7F7F7;
    box-shadow: 4px 13px 28px -4px rgba(125, 125, 125, 0.12);
}

.card .card_header {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.card .card_header .card_profile img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.card .card_header .card_info {
    width: 100%;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
}

.card .card_header .card_info a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--body-size);
}

.card .card_header .card_info p {
    font-size: var(--action-size);
}

.card .card_main {
    padding: 20px 0 15px 0;
    box-sizing: border-box;
}

.card .card_main a {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    font-size: var(--action-size);
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.card .card_main h2 {
    margin-top: 15px;
    font-size: var(--h2-size);
}

.card .card_main p {
    margin-top: 10px;
    font-size: var(--body-size);
}

.card .card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card_footer .card_comment {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: var(--body-size);
    color: var(--secondary-color);
}

.card .card_footer .card_link a {
    font-size: var(--body-size);
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .card {
        padding: 20px 30px !important;
    }

    .card .card_header .card_profile {
        column-gap: 10px;
    }
    .card .card_header .card_profile img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 20px 20px !important;
    }

    .card .card_header .card_info {
        flex-direction: column;
    }

    .card .card_header .card_info p {
        font-size: 11px;
    }

}